body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color:#1F2937;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 64px;
}

img {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10%;
    border: none;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding:  8px 24px;
}

.main-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-middle {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.cta {
    background-color:#3882F6;
    color: #F9FAF8;
}

.cta .title {
    font-size: 24px;
    font-weight: 900;
}

.cta .subtext {
    font-size: 18px;
    color: #E5E7EB;
}